/**
 * Основные стили
 **/
@import "variables";
html, body {
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	//font-size: 14px;
	font-size: 62.5%;
	//font-size: calc(1em + 1vw);
	font-weight: 400;
	line-height: 19.07px;
	color: $white;
}

body {
	//overflow-y: hidden;
	//overflow-x: hidden;
	overflow-y: scroll;
}

.container {
	@include min-max(320px, 100%, 0);
	//display: flex;
}

.wrapper {
	@include min-max(320px, 1440px, 0px);
	//height: 100vh;
	//height: 99.5rem;
	max-height: 999999px;
}

h2 {
	font-weight: 700;
	font-size: 1.6rem;
	//font-size: calc(14px + (16-14) * ((100vw - 320px) / (1440 - 320)));
	line-height: 26px;
}

h3 {
	font-weight: 700;
	font-size: 1.4rem;
	//line-height: 19px;
	line-height: 1.36;
}

p {
	color: $white;
	font-family: "Open Sans", sans-serif;
	font-size: 1.4rem;
	font-weight: 400;
}

a {
	text-decoration: none;
	//font-family: "Montserrat", sans-serif;
	// &:hover {
	// 	text-decoration: underline;
	// }
}

@media (min-width: 1200px){
  .container {
		display: flex;
	}
}

// @media (max-width: 991.98px) {
// 	html, body {
// 		font-size: 50.5%;
// 	}
// }