@charset "UTF-8";
/**
 * Переключаемая боковая панель навигации
 * выдвигающаяся по клику слева
 */

.nav {
  /*  ширна произвольная, не стесняйтесь экспериментировать */
  width: 320px;
  min-width: 320px;
  /* фиксируем и выставляем высоту панели на максимум */
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  margin: 0;
  /* сдвигаем (прячем) панель относительно левого края страницы */
  left: -360px;
  /* внутренние отступы */
  padding: 15px 20px;
  /* плавный переход смещения панели */
  -webkit-transition: left 0.3s;
  -moz-transition: left 0.3s;
  transition: left 0.3s;
  /* определяем цвет фона панели */
  background: #383E57;
  /* поверх других элементов */
  z-index: 2000;
  font-size: 1.4rem;
}


/**
* Кнопка переключения панели
* тег <label>
*/

.nav-toggle {
  /* абсолютно позиционируем */
  position: absolute;
  /* относительно левого края панели */
  left: 370px;
  /* отступ от верхнего края панели */
  //top: 1em;
  top: 10px;
  /* внутренние отступы */
  padding: 0.5em;
  /* определяем цвет фона переключателя
   * чаще вчего в соответствии с цветом фона панели
  */
  background: inherit;
  /* цвет текста */
  color: white;
  border: solid 1px #505772;
  /* вид курсора */
  cursor: pointer;
  /* размер шрифта */
  font-size: 2rem;
  line-height: 1;
  /* всегда поверх других элементов страницы */
  z-index: 2001;
  /* анимируем цвет текста при наведении */
  -webkit-transition: color .25s ease-in-out;
  -moz-transition: color .25s ease-in-out;
  transition: color .25s ease-in-out;
}


/* определяем текст кнопки 
* символ Unicode (TRIGRAM FOR HEAVEN)
*/

.nav-toggle:after {
  content: '\2630';
  text-decoration: none;
}


/* цвет текста при наведении */

.nav-toggle:hover {
  color: #f4f4f4;
}


/**
* Скрытый чекбокс (флажок)
* невидим и недоступен :)
* имя селектора атрибут флажка
*/

[id='nav-toggle'] {
  position: absolute;
  display: none;
}


/**
* изменение положения переключателя 
* при просмотре на мобильных устройствах
* когда навигация раскрыта, распологаем внутри панели
*/

[id='nav-toggle']:checked ~ .nav > .nav-toggle {
  left: auto;
  right: 2px;
  top: 1em;
}


/**
* Когда флажок установлен, открывается панель
* используем псевдокласс:checked
*/

[id='nav-toggle']:checked ~ .nav {
  left: 0;
  box-shadow:4px 0px 20px 0px rgba(0,0,0, 0.5);
  -moz-box-shadow:4px 0px 20px 0px rgba(0,0,0, 0.5);
  -webkit-box-shadow:4px 0px 20px 0px rgba(0,0,0, 0.5);
  overflow-y: auto;
}


/* 
* смещение контента страницы
* на размер ширины панели,
* фишка необязательная, на любителя
*/

[id='nav-toggle']:checked ~ main > article {
  -webkit-transform: translateX(360px);
  -moz-transform: translateX(360px);
  transform: translateX(360px);
}


/*
* изменение символа переключателя,
* привычный крестик (MULTIPLICATION X), 
* вы можете испльзовать любой другой значок
*/

[id='nav-toggle']:checked ~ .nav > .nav-toggle:after {
  content: '\2715';
}


/**
* позаботьтимся о средних и маленьких экранах
* мобильных устройств
*/

@media screen and (min-width: 320px) {
  html,
  body {
    margin: 0;
    overflow-x: hidden;
  }
}

@media screen and (max-width: 320px) {
  html,
  body {
    margin: 0;
    overflow-x: hidden;
  }
  .nav {
    width: 100%;
    box-shadow: none
  }
}

.nav > ul {
  display: block;
  margin: 0;
  list-style: none;
}

.nav__main-menu {
  padding: 0 0 5.9rem 0;
}

.nav__main-menu li {
  padding-bottom: 2.5rem;
}

.nav__menu li {
  padding-bottom: 3.0rem;
}

.nav__main-menu li:nth-child(1) {
  @include menu("../img/house.svg", 1.738rem, 1.8rem, 0 1.039rem 0 0);
}

.nav__main-menu li:nth-child(2) {
  @include menu("../img/man.svg", 1.7rem, 1.7rem, 1.0rem 1.039rem 10px 0);
}

.nav__menu li:nth-child(1) {
  @include menu("../img/bag.svg", 1.7rem, 1.9rem, 0 1.039rem 0 0);
}

.nav__menu li:nth-child(2) {
  @include menu("../img/staff.svg", 2.2rem, 1.4rem, 0 1.039rem 0 0);
}

.nav__menu li:nth-child(3) {
  @include menu("../img/notes.svg", 2.0rem, 1.9rem, 0 1.039rem 0 0);
}

.nav__menu li:nth-child(4) {
  @include menu("../img/stats.svg", 1.9rem, 1.9rem, 0 1.039rem 0 0);
}

.nav__menu li:nth-child(5) {
  @include menu("../img/dung.svg", 1.7rem, 2.0rem, 0 1.039rem 0 0);
}

.nav__menu li:nth-child(6) {
  @include menu("../img/weather.svg", 2.0rem, 2.0rem, 0 1.039rem 0 0);
}

.nav__menu li:nth-child(7) {
  @include menu("../img/agency.svg", 2.2rem, 1.7rem, 0 1.039rem 0 0);
}


[id='nav-toggle']:checked ~ .nav > ul > li {
  opacity: 1;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}





.nav > ul > li > a {
  color: $white;
}

/**
* состояние ссылок меню при наведении
*/

.nav > ul > li > a:hover,
.nav > ul > li > a:focus {
  color: #23273A;
  //padding-right: 15px;
  border-radius: 1rem;
  cursor: pointer;
  background-color: #43E8FF;
  padding: 1em 1.5em;
}


/**
* линия подчеркивания ссылок меню
*/

// .nav > ul > li > a:before {
//   content: '';
//   display: block;
//   position: absolute;
//   right: 0;
//   bottom: 0;
//   height: 1px;
//   width: 100%;
//   -webkit-transition: width 0s ease;
//   transition: width 0s ease;
// }

// .nav > ul > li > a:after {
//   content: '';
//   display: block;
//   position: absolute;
//   left: 0;
//   bottom: 0;
//   height: 1px;
//   width: 100%;
//   background: #4D5474;
//   -webkit-transition: width .5s ease;
//   transition: width .5s ease;
// }


/**
* анимируем линию подчеркивания 
* ссылок при наведении
*/

/* фон затемнения на основной контент 
* при этом элементы блокируютя
* спорная такая фича, если оно вам надо
* просто раскомментируйте
*/

/*
.mask-content {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  visibility: hidden;
  opacity: 0;
}

[id='nav-toggle']:checked ~ .mask-content {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity .5s, visibility .5s;
  transition: opacity .5s, visibility .5s;
}
*/
@media (min-width: 1200px){
  .nav {
      display: none;
  }
}